/*
background color: #F0EBE3
2nd background color #E4DCCF
banner color: #7D9D9C
Text color: #576F72
*/
a {
  color: #7D9D9C;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  background-color: #F0EBE3;
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Montserrat', sans-serif;
  color: #7D9D9C;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.3rem;
  color: #7D9D9C;
  font-weight: bold;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #7D9D9C;
}

hr {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #132C33, rgba(0, 0, 0, 0));
}

.bottomBanner {
  margin: 0;
  padding: 15px 0;
  background-color: #E4DCCF;
  line-height: 2;
}
.bottomCloud {
  position: absolute;
  left: 350px;
  bottom: 250px;
}

.bottomContainer {
  padding: 25px 0;
}

.emailButton {
  margin: 25px auto 10px auto;
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	background-color:#768d87;
	border-radius:9px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:13px 15px;
	text-decoration:none;
	text-shadow:0 1px 0 #2b665e;
}
.emailButton:hover {
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color:#6c7c7c;
}

.EducationContainer {
  padding: 25px 0;
}

.footerLink {
  margin:0 10px 0 10px;
}
.headingContainer {
  position: relative;
  padding-top: 100px;
  background-color: #E4DCCF;
}

.mountain {
  padding-bottom: 25px;
}

.pfp {
  padding-top: 25px;
}

.profile {
  padding: 75px 0;
}

.pythonPng {
  float: left;
  margin-right: 30px;
}
.skills {
  padding: 25px 0;
}

.skillRow {
  margin: 75px auto;
  width: 50%;
  text-align: left;
  line-height: 2;
}

.topCloud {
  position: absolute;
  right: 350px;
  top: 75px;
}

.webDevPng {
  float: right;
  margin-left: 30px;
}
